src/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="config">
  <xsd:complexType>
    <xsd:sequence>

      <xsd:element name="database_host" type="xsd:string" />
      <xsd:element name="database_port" type="xsd:nonNegativeInteger" />
      <xsd:element name="database_username" type="xsd:string" />
      <xsd:element name="database_password" type="xsd:string" />
      <xsd:element name="database_database" type="xsd:string" />
      <xsd:element name="database_collection" type="xsd:string" />

    </xsd:sequence>
  </xsd:complexType>
</xsd:element>
</xsd:schema>
